*{
  margin: 0;
  padding: 0;
}
.rect1{
    position: absolute;
    width: 100%;
    height: 1024px;
    left: 0px;
    top: 0px;
    margin: 0;
}

.navbar{
    background-color: rgb(13, 13, 14);
    opacity: 0.6;
    width: 100%;
    box-sizing: border-box;
    
    font-size: 30px;
    font-style: rgba(245, 237, 235, 0);
    padding: 15px;
    
    float: left;
    
}

a:link {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  .top1{
    background-size:cover;
    background-image: url("your\ name.jpg");
    opacity: 1;
    width: 100%;
    height: 1024px;
    ;
}
.center{
    position:absolute;
    top:200px;
    left: 150px;
    color: rgb(2, 2, 43);
    font-family: 'Sacramento', cursive;
    font-size: 75px;
}
.app-icons{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin:20px;
}
#about{
  text-align: center;
}
